* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

/*-------------------------Home Page Structure*/

body {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    width: 100%;
}

.background-print {
    background-color: #E8E9DA;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-print-image-compressed.webp');
    background-size: cover;
    background-position: center;
}

/*-------------------------Code used from ADG website, see readme credits*/

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#content-divider {
    border-bottom: #000 solid 1px;
    width: 40px;
    margin: 20px;
}

/*-------------------------Nav Bar*/

header {
    background-color: #939972;
    height: 100px;
    width: 100%;
}

#navbar-large {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
}

#navbar li {
    margin: 0;
}

#navbar a {
    color: #000;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.3s;
    position: relative;
}

#navbar a:hover {
    color: #E8E9DA;
}

.dot {
    font-size: 40px;
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.dropdown a {
    background-color: #096A2E;
    color: #E8E9DA;
    font-family: 'Lato', sans-serif;
}
/*-------------------------Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #939972;
    padding: 0;
}

#connect-with-us {
    margin: 30px 30px 0 30px;
}

footer h3, footer h4 {
    font-size: 15px;
    text-align: center;
}

footer a {
    color: #000;
    font-size: 30px;
    transition: 0.3s;
}

footer a:hover {
    color: #E8E9DA;
}

#instagram-icon {
    margin: 15px;
}

#copyright {
    font-family: 'Lato', sans-serif;
    font-size: 8px;
}

/*-------------------------Logo on home page*/

#south-wales-logo {
    width: 400px;
    height: 200px;
}

#south-wales-logo-image {
    max-width: 100%;
    max-height: 100%;
}

/*-------------------------Headings on home page*/

#home-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    width: 550px;
}

#home-headings h1 {
    margin: 20px;
    font-size: 25px;
    color: #000;
    text-align: center;
}

#home-headings h2 {
    margin: 20px;
    font-size: 18px;
    color: #000;
    text-align: center;
}

/*-------------------------Take quiz section on home page*/

#take-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

#take-quiz h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 20px;
}

.quiz-button {
    margin: 20px;
    width: 150px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #096A2E;
    color: #E8E9DA;
    transition: 0.5s;
}

.quiz-button:hover {
    background-color: #939972;
    color: #000;
}

/*-------------------------Quiz questions on quiz page*/

#outer-quiz-container {
    display: flex;
    justify-content: center;
    width: 550px;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E8E9DA;
    width: 500px;
    height: 500px;
    align-items: center;
    /*Code used from Design Shack to assist with box shadow placement - See readme Credits*/
    box-shadow: 0px 0px 10px 10px #939972;
}

.hidden-quiz-container {
    display: none;
}

#question {
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.quiz-container label {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    padding: 4px 11px;
    background-color: #fff;
    text-align: center;
}

.quiz-container label:hover {
    background-color: #E8E9DA;
}

#select-answer {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    font-family: 'lato';
}

#select-answer i {
    margin: 0 10px;
}

/*Code used from Stack overflow - How to Style a Selected Radio Buttons Label - See readme credits */

.quiz-container input[type="radio"] {
    display: none;
}

.quiz-container input[type="radio"]:checked+label {
    background-color: #939972;
}

/*-------------------------Quiz results*/

#quiz-answers-container {
    display: flex;
    justify-content: center;
    width: 550px;
    flex-direction: column;
    align-items: center;
}

.show-quiz-answers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E8E9DA;
    width: 500px;
    height: 700px;
    margin: 15px;
    align-items: center;
    /*Code used from Design Shack to assist with box shadow placement - See readme Credits*/
    box-shadow: 0px 0px 10px 10px #939972;
}

#top-heading-results {
    display: none;
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
}

#quiz-answers h2 {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

#quiz-answers p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 15px;
    text-align: center;
}

#answer-image {
    display: none;
    width: 450px;
}

#url-info {
    display: none;
}

#answer-url {
    text-decoration: none;
    color: black;
    font-family: 'Lato';
    font-weight: 300;
    transition: 0.3s;
}

#answer-url:hover {
    background-color: #fff;
}

#bottom-heading-results {
    margin: 20px;
}

#bottom-heading-results a, #bottom-heading-results p {
    font-size: 18px;
    color: black;
    transition: 0.3s;
    font-family: 'Lato';
    text-align: center;
    text-decoration: none;
    margin: 0;
}

#bottom-heading-results i {
    font-size: 30px;
    color: #096A2E;
    margin: 15px;
    transition: 0.3s;
}

#bottom-heading-results i:hover {   
    color: #939972;
}

#check-out-maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-weight: 300;
}

#start-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-weight: 300;
}

#start-over-button {
    margin: 10px;
    width: 150px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #096A2E;
    color: #E8E9DA;
    transition: 0.5s;
}

#start-over-button:hover {
    background-color: #939972;
    color: #000;
}

#bottom-heading-results {
    display: none;
}

/*-------------------------Quiz Buttons*/

#next-button, #submit-button {
    margin: 20px;
    width: 150px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #096A2E;
    color: #E8E9DA;
    transition: 0.3s;
} 

#next-button:hover, #submit-button:hover {
    background-color: #939972;
    color: #000;
}

/*-------------------------Maps page*/

#maps-container {
    width: 600px;
    height: 100%;
}

#maps-border {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#maps-instructions {
    font-size: 20px;
    font-family: 'Lato';
    text-align: center;
    margin: 10px;
    font-weight: 300;
    line-height: 1.5;
}

#maps-instructions i {
    margin-right: 10px;
}

#loading {
    font-size: 30px;
    letter-spacing: 5px;
}

/*-------------------------404 error page*/

#error-container {
    width: 500px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#error-message {
    font-size: 25px;
    font-family: 'lato';
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
    margin: 0 20px;
}

#return-to-menu {
    font-size: 20px;
    font-family: 'lato';
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    margin: 0 20px;
}

#error-image {
    width: 300px;
    height: 300px;
    background-image: url('../images/background-hiking.webp');
    background-size: cover;
    background-position: center;
}

/*-------------------------Media Queries 768px*/

@media screen and (max-width: 768px) {
    #maps-container {
        height: 600px;
    }
}

/*-------------------------Media Queries 600px*/

@media screen and (max-width: 600px) {
    #maps-container {
        width: 500px;
    }
}

/*-------------------------Media Queries 551px*/

@media screen and (min-width: 551px) {
    .dropdown {
        display: none;
    }
}

/*-------------------------Media Queries 550px*/

@media screen and (max-width: 550px) {
    .background-print {
        display: none;
    }

    #navbar-large {
        display: none;
    }

    #answer-image {
        width: 350px;
    }

    #error-container {
        width: 100%;
    }
}

/*-------------------------Media Queries 500px*/

@media screen and (max-width: 500px) {
    #home-headings {
        width: 330px;
    }

    #outer-quiz-container {
        width: 100%;
    }

    #quiz-form {
        width: 100%;
    }

    #quiz-answers-container {
        width: 100%;
    }

    #quiz-answers {
        width: 100%;
    }

    #maps-container {
        width: 100%;
    }
}

/*-------------------------Media Queries 400px*/

@media screen and (max-width: 400px) {
    #quiz-answers {
        padding: 0 5px;
    }
}

/*-------------------------Media Queries 350px*/

@media screen and (max-width: 350px) {
    #south-wales-logo {
        width: 300px;
        height: 150px;
    }

    #answer-image {
        width: 350px;
    }
}
