* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

/*-------------------------Home Page Structure*/

body {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    width: 100%;
}

.background-print {
    background-color: green;
    width: 100%;
    height: 100%;
}

.center-content {
    height: 100%;
    width: 100%;
}
/*-------------------------Nav Bar*/

nav {
    height: 100px;
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    text-align: center;
}

#navbar li {
    list-style-type: none;
    margin: 0 50px ;
}

#navbar a {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}