* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

/*-------------------------Home Page Structure*/

body {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    width: 100%;
}

.background-print {
    background-color: #E8E9DA;
    width: 100%;
    height: 100%;
    background-image: url('../images/background-print-image.png');
    background-size: cover;
    background-position: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#content-divider {
    border-bottom: #000 solid 1px;
    width: 40px;
    margin: 20px;
}

/*-------------------------Nav Bar*/

header {
    background-color: #79804F;
    height: 100px;
    width: 100%;
}

#navbar-large {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

#navbar li {
    margin: 0;
}

#navbar a {
    color: #000;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 20px;
}

#navbar a:hover {
    color: #E8E9DA;
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.dropdown a {
    background-color: #096A2E;
    color: #E8E9DA;
    font-family: 'Lato', sans-serif;
}
/*-------------------------Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #79804F;
    padding: 0;
}

#connect-with-us {
    margin: 30px 30px 0 30px;
}

footer h4 {
    font-size: 15px;
    text-align: center;
}

footer a {
    color: #000;
    font-size: 30px;
}

#instagram-icon {
    margin-bottom: 25px;
}

/*-------------------------Logo on home page*/

#south-wales-logo {
    width: 400px;
    height: 200px;
}

#south-wales-logo-image {
    max-width: 100%;
    max-height: 100%;
}

/*-------------------------Headings on home page*/

#home-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    width: 550px;
}

#home-headings h1 {
    margin: 20px;
    font-size: 25px;
    color: #000;
    text-align: center;
}

#home-headings h2 {
    margin: 20px;
    font-size: 18px;
    color: #000;
    text-align: center;
}

/*-------------------------Take quiz section on home page*/

#take-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

#take-quiz h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 20px;
}

.quiz-button {
    margin: 20px;
    width: 150px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #096A2E;
    color: #E8E9DA;
}

.quiz-button:hover {
    background-color: #79804F;
}

/*-------------------------Quiz questions on quiz page*/

#outer-quiz-container {
    display: flex;
    justify-content: center;
    width: 550px;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #79804F;
    width: 500px;
    height: 500px;
}

#question {
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#answer-a, #answer-b, #answer-c {
    margin-left: 10px;
}

#label-a, #label-b, #label-c {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.hidden-quiz-container {
    display: none;
}

/*-------------------------Quiz results*/

#quiz-answers-container {
    display: flex;
    justify-content: center;
    width: 550px;
    flex-direction: column;
    align-items: center;
}

.show-quiz-answers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #79804F;
    width: 500px;
    height: 700px;
    margin: 15px;
    align-items: center;
}

#top-heading-results {
    display: none;
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
}

#quiz-answers h2 {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

#quiz-answers p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 15px;
    text-align: center;
}

#answer-image {
    display: none;
    width: 450px;
}

#url-info {
    display: none;
}

#answer-url {
    text-decoration: none;
    color: black;
    font-family: 'Lato';
    font-weight: 300;
}

#answer-url:hover {
    color: #E8E9DA;
}

#bottom-heading-results p {
    font-family: 'Lato';
    text-align: center;
    font-size: 18px;
}

#bottom-heading-results a {
    margin-left: 10px;
    font-size: 20px;
    color: black;
}

#bottom-heading-results a:hover {   
    color: #79804F;
}

#bottom-heading-results {
    display: none;
}

/*-------------------------Quiz Buttons*/

#next-button, #submit-button {
    margin: 20px;
    width: 150px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #096A2E;
    color: #E8E9DA;
} 

/*-------------------------Maps page*/

#maps-container {
    width: 600px;
    height: 100%;
}

#maps-border {
    padding: 10px;
}

/*-------------------------Media Queries 768px*/

@media screen and (min-width: 768px) {
    #maps-container {
        height: 600px;
    }
}

/*-------------------------Media Queries 551px*/

@media screen and (min-width: 551px) {
    .dropdown {
        display: none;
    }
}

/*-------------------------Media Queries 550px*/

@media screen and (max-width: 550px) {
    .background-print {
        display: none;
    }

    #navbar-large {
        display: none;
    }
}

/*-------------------------Media Queries 500px*/

@media screen and (max-width: 500px) {
    #home-headings {
        width: 330px;
    }

    .outer-quiz-container {
        width: 330px;
    }

    .quiz-container {
        width: 300px;
    }
}

/*-------------------------Media Queries 350px*/

@media screen and (max-width: 350px) {
    #south-wales-logo {
    width: 300px;
    height: 150px;
}
}