* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

/*-------------------------Home Page Structure*/

body {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    width: 100%;
}

.background-print {
    background-color: green;
    width: 100%;
    height: 100%;
}

.center-content {
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------------------Nav Bar*/

nav {
    height: 100px;
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    text-align: center;
}

#navbar li {
    list-style-type: none;
    margin: 0 50px ;
}

#navbar a {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*-------------------------Footer*/

footer {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

footer a {
    color: #000;
    font-size: 30px;
}
/*-------------------------Logo on home page*/

#south-wales-logo {
    width: 400px;
    height: 300px;
}

#south-wales-logo-image {
    max-width: 100%;
    max-height: 100%;
}

/*-------------------------Headings on home page*/

#home-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

#home-headings h1 {
    margin-bottom: 20px;
    font-size: 25px;
    color: #000;
}

#home-headings h2 {
    margin: 20px;
    font-size: 18px;
    color: #000;
}

/*-------------------------Take quiz section on home page*/

#take-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

#take-quiz h3 {
    font-size: 15px;
    font-weight: 300;
}

.quiz-button {
    margin: 20px;
    width: 100px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}